<div id="accessManagement">
	<div class="modal-header">
		<h3 class="modal-title">Manage {{ recruiter.name }}'s Access</h3>
	</div>
	<div class="modal-body">

		<h4>List of features</h4>
		<ul>
			<li ng-repeat="feature in features"><input type="checkbox" ng-model="selectedFeatures[$index]" ng-init="selectedFeatures[$index] = utilityFunctions.inArray(feature.feature, recruiter.features)" ng-checked="utilityFunctions.inArray(feature.feature, recruiter.features)"></input>{{ feature.feature }}</li>
		</ul>

	</div>
	<div class="modal-footer">
		<button ng-click="dismiss()" class="btn">Cancel</button>
		<button ng-click="saveSelection()" class="btn btn-primary">Save</button>
	</div>
</div>