<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a>
					<strong>Login Form</strong>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a ng-click="home()" title="Click to close" href=""><i class="mdi mdi-close iconButton"></i></a></li>
		</ul>
	</div>
</nav>







<!-- MAIN OUTPUT -->
<div id="mainOutput" class="container">

	<form name="loginForm" id="loginForm" class="col-md-6 col-md-offset-3">
		
		<div class="form-group" ng-class="{ 'has-error': loginForm.email.$invalid && loginForm.email.$touched }">
			<label>Email</label>
			<input name="email" ng-model="email" required ng-minlength="4" ng-maxlength="50" type="email" class="form-control" />
			<div class="help-block has-error" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && loginForm.password.$touched }">
			<label>Password</label>
			<input name="password" ng-model="password" required ng-pattern="alphanumericSymbol" ng-minlength="4" ng-maxlength="50" type="password" class="form-control" />
			<div class="help-block has-error" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
			</div>
		</div>

		<br>

		<div class="pull-right">
			<button ng-click="home()" class="btn btn-default">Cancel</button>
			<button ng-click="login(loginForm)" class="btn btn-primary">Login</button>
		</div>
	</form>


</div>