<div modal-render="false" tabindex="-1" role="dialog" class="aside"
	modal-animation-class="am-slide-right am-slide-right-add"
	modal-in-class="nav"
	ng-style="{'z-index': 1050 + index*10, display: 'block', 'right': '0'}"
	>
	
	<div class="aside-dialog">
		<div class="aside-content" modal-transclude>		
		</div>
	</div>
</div>
