<div class="modal-header">
	<h3 class="modal-title">Add Job Applications</h3>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Selected Job Vacancies<small>(Click job vacancy to remove)</small></div>
				<div class="panel-body">
					<i ng-if="selectedJobVacancies.length == 0">List of selected job vacancies should appear here</i>

					<div ng-click="deselectJobVacancy($index)" ng-repeat="jobVacancy in selectedJobVacancies">
						<strong>{{ jobVacancy.title }}</strong><br>
						Posted by {{ jobVacancy.company.name }}<br>
						Posted on {{ jobVacancy.created_at | amDateFormat:'MMMM D, YYYY h:mm A' }}
						<br><hr>
					</div>
				</div>
			</div>
		</div>



		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					List of Candidates<small>(Click job vancancy to select)</small>
				</div>

				<div class="panel-body">
					<div class="input-group">
						<input ng-model="options.search" type="text" ng-model="options.search" class="form-control" placeholder="Search Job Vacancies" title="Search by title">
						<span class="input-group-btn">
							<button ng-click="loadJobVacancies()" class="btn btn-default" type="button"><a class="glyphicon glyphicon-search"></a></button>
						</span>
					</div>

					<br><br><br>

					<div ng-click="selectJobVacancy(jobVacancy)" ng-if="checkIfSelected(jobVacancy)" ng-repeat="jobVacancy in jobVacancies">
						<strong>{{ jobVacancy.title }}</strong><br>
						Posted by {{ jobVacancy.company.name }}<br>
						Posted on {{ jobVacancy.created_at | amDateFormat:'MMMM D, YYYY h:mm A' }}
						<br><hr>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button ng-click="dismiss()" class="btn">Cancel</button>
	<button ng-click="saveSelection()" class="btn btn-primary">Save</button>
</div></strong>