<div ng-form="addForm">
<div class="modal-header">
	<h3 class="modal-title">Edit Job Application</h3>
</div>
<div class="modal-body">

	<div class="form-group" ng-class="{ 'has-error': addForm.recruiter.$invalid && addForm.recruiter.$touched }">
		<label>Recruiter</label>
		<select name="recruiter" ng-model="jobVacancyApplication.userId" ng-options="recruiter.id as recruiter.name for recruiter in recruiters | orderBy:'name'" required class="form-control"></select>
		<div class="help-block has-error" ng-messages="addForm.recruiter.$error" ng-if="addForm.recruiter.$touched">
			<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': addForm.jobVacancy.$invalid && addForm.jobVacancy.$touched }">
		<label>Job Vacancy</label>
		<select name="jobVacancy" ng-model="jobVacancyApplication.jobVacancyId" ng-options="jobVacancy.id as (jobVacancy.title +' - '+ jobVacancy.company.name) for jobVacancy in jobVacancies | orderBy:['company.name', 'title']" required class="form-control"></select>
		<div class="help-block has-error" ng-messages="addForm.jobVacancy.$error" ng-if="addForm.jobVacancy.$touched">
			<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': addForm.candidate.$invalid && addForm.candidate.$touched }">
		<label>Candidate</label>
		<select name="candidate" ng-model="jobVacancyApplication.candidateId" ng-options="candidate.id as candidate.name for candidate in candidates | orderBy:'name'" required class="form-control"></select>
		<div class="help-block has-error" ng-messages="addForm.candidate.$error" ng-if="addForm.candidate.$touched">
			<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': addForm.status.$invalid && addForm.status.$touched }">
		<label>Status</label>
		<select name="status" ng-model="jobVacancyApplication.status" required class="form-control">
			<option>Active</option>
			<option>Placed by GCG</option>
			<option>Placed by Others</option>
			<option>Placed by Company</option>
			<option>Put on Hold</option>
		</select>
		<div class="help-block has-error" ng-messages="addForm.status.$error" ng-if="addForm.status.$touched">
			<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': addForm.dateAquired.$invalid && addForm.dateAquired.$touched }">
		<label>Date Aquired</label>
		<div class="input-group">
			<input name="dateAquired" ng-model="jobVacancyApplication.date" required string-date uib-datepicker-popup is-open="dateAquiredIsOpen"  type="text" class="form-control" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="dateAquiredIsOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
		<div class="help-block has-error" ng-messages="addForm.dateAquired.$error" ng-if="addForm.dateAquired.$touched">
			<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error': addForm.dateClosed.$invalid && addForm.dateClosed.$touched }">
		<label>Date Closed<small>(Optional)</small></label>
		<div class="input-group">
			<input name="dateClosed" ng-model="jobVacancyApplication.dateClosed" string-date uib-datepicker-popup is-open="dateClosedIsOpen"  type="text" class="form-control" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="dateClosedIsOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>
		<div class="help-block has-error" ng-messages="addForm.dateClosed.$error" ng-if="addForm.dateClosed.$touched">
			<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button ng-click="dismiss()" class="btn">Cancel</button>
	<button ng-click="saveChanges(addForm)" class="btn btn-primary">Save</button>
</div></strong>
</div>