<div class="modal-header">
	<h3 class="modal-title">Add Applicants/Candidates</h3>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Selected Candidates<small>(Click candidate to remove)</small></div>
				<div class="panel-body">
					<i ng-if="selectedCandidates.length == 0">List of selected candidates should appear here</i>

					<div ng-click="deselectCandidate($index)" ng-repeat="candidate in selectedCandidates">
						<strong>{{ candidate.name }}</strong><br>
						{{ candidate.email }}
						<br><hr>
					</div>
				</div>
			</div>
		</div>



		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					List of Candidates<small>(Click candidate to select)</small>
				</div>

				<div class="panel-body">
					<div class="input-group">
						<input ng-model="options.search" type="text" ng-model="options.search" class="form-control" placeholder="Search Candidates" title="Search by name, contact number or email">
						<span class="input-group-btn">
							<button ng-click="loadCandidates()" class="btn btn-default" type="button"><a class="glyphicon glyphicon-search"></a></button>
						</span>
					</div>

					<br><br><br>

					<div ng-click="selectCandidate(candidate)" ng-if="checkIfSelected(candidate)" ng-repeat="candidate in candidates">
						<strong>{{ candidate.name }}</strong><br>
						{{ candidate.email }}
						<br><hr>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button ng-click="dismiss()" class="btn">Cancel</button>
	<button ng-click="saveSelection()" class="btn btn-primary">Save</button>
</div>