<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li><strong>List of Companies</strong></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li ng-show="utilityFunctions.inArray('Companies >> Add', user.features)"><a ng-click="showAddCompany()" title="Click to add new company" href=""><i class="mdi mdi-plus iconButton"></i></a></li>
		</ul>

		<div class="navbar-form navbar-right">
			<div ng-show="utilityFunctions.inArray('Companies >> Search', user.features)" class="form-group">
				<div class="input-group">
					<input ng-model="options.search" type="text" ng-model="options.search" class="form-control" placeholder="Search Company" title="Search by name, address, contact numbers, websites, division, business types, or other infos">
					<span class="input-group-btn">
						<button ng-click="loadCompanies()" class="btn btn-default" type="button"><a class="glyphicon glyphicon-search"></a></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</nav>


<div id="listContainer">
	<div id="listItem" ng-repeat="company in companies | orderBy:'name'" class="am-fade-and-slide-bottom row">
		<div class="content">
			<h4>{{ company.name }}</h4>
			{{ company.address }} {{ company.city }} {{ company.province }} {{ company.country }}
		</div>
		<div id="actionButtons">
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-icon mdi mdi-dots-vertical" uib-dropdown-toggle></button>
				<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
					<li ng-show="utilityFunctions.inArray('Companies >> Info', user.features)" role="menuitem"><a ng-click="showCompanyInfo(company.id)" href="#"><i class="mdi mdi-information">&emsp;</i>Show info</a></li>
					<li ng-show="utilityFunctions.inArray('Companies >> Edit', user.features)" role="menuitem"><a ng-click="showCompanyEdit(company.id)" href="#"><i class="mdi mdi-pencil">&emsp;</i>Edit</a></li>
					<li class="divider"></li>
					<li ng-show="utilityFunctions.inArray('Companies >> Delete', user.features)" role="menuitem"><a ng-click="deleteCompany(company)" href="#"><i class="mdi mdi-delete">&emsp;</i>Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

