<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li ng-click="backToCompanyList()">
				<a>
					<i class="mdi mdi-arrow-left"></i>
					<strong>Back to Company List</strong>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a ng-show="utilityFunctions.inArray('Companies >> Edit', user.features)" ng-click="showCompanyEdit()" title="Click to edit this company" href=""><i class="mdi mdi-pencil iconButton"></i></a></li>
		</ul>
	</div>
</nav>


<div id="content">
	<h4>{{ company.name }}</h4>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<h4>Basic Info</h4><br>
			<strong>Address</strong><br>
			{{ company.address }}

			<br><br>

			<strong>City</strong><br>
			{{ company.city }}

			<br><br>

			<strong>Province</strong><br>
			{{ company.province }}

			<br><br>

			<strong>Country</strong><br>
			{{ company.country }}

			<br><br>

			<strong>Postal Code</strong><br>
			{{ company.postalCode }}

			<br><br>

			<strong>Contact Numbers</strong><br>
			<em ng-if="company.contactNumbers.length == 0">No contact numbers found</em>
			<ul ng-if="company.contactNumbers.length > 0">
				<li ng-repeat="number in company.contactNumbers">{{ number }}</li>
			</ul>

			<br><br>

			<strong>Webites</strong><br>
			<em ng-if="company.websites.length == 0">No websites found</em>
			<ul ng-if="company.websites.length > 0">
				<li ng-repeat="website in company.websites"><a ng-href="//{{ website }}" target="_blank">{{ website }}</a></li>
			</ul>

			<br><br>
			<br><br>
		</div>


		<div class="col-md-6">
			<h4>Company Business Info</h4><br>
			<strong>Division</strong><br>
			{{ company.division }}

			<br><br>

			<strong>Types</strong><br>
			<em ng-if="company.types.length == 0">No business types found</em>
			<ul ng-if="company.types.length > 0">
				<li ng-repeat="type in company.types">{{ type }}</li>
			</ul>

			<br><br>

			<strong>PEZA/SEZA Registered</strong><br>
			{{ company.pezaRegistered }}

			<br><br>

			<strong>Others</strong><br>
			{{ company.otherInfo }}

			<br><br>
			<br><br>
		</div>
	</div>



	<div class="row">
		<div class="col-md-6">
			<h4>Other Company Info</h4><br>
			<strong>Notes</strong><br>
			<em ng-if="company.notes.length == 0">No notes found</em>
			<ul ng-if="company.notes.length > 0">
				<li ng-repeat="note in company.notes | orderBy:'date'">{{ note.note }} - {{ note.date | amDateFormat:'MMMM D, YYYY' }}</li>
			</ul>

			<br><br>

			<strong>Job Vacancies</strong><br>
			<em ng-if="company.jobVacancies.length == 0">No job vacancies found</em>
			<ul ng-if="company.jobVacancies.length > 0">
				<li ng-repeat="vacancy in company.jobVacancies | orderBy:'date'" title="Click to view job vacancy info"><a ui-sref="admin.jobVacancyInfo({ id: vacancy.id })">{{ vacancy.title }} - {{ vacancy.created_at | amDateFormat:'MMMM D, YYYY' }}</a></li>
			</ul>

			<br><br>
			<br><br>
		</div>

		<div class="col-md-6">
			<strong>Contact Persons</strong><br>
			<em ng-if="company.contactPersons.length == 0">No contact persons found</em>
			<table ng-if="company.contactPersons.length > 0" class="table">
				<thead>
					<tr>
						<th>Name</th>  <th>Position</th>  <th>Contact Number</th>  <th>Email Address</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contactPerson in company.contactPersons | orderBy:'name'">
						<td>{{ contactPerson.name }}</td>  <td>{{ contactPerson.position }}</td>  <td>{{ contactPerson.contact }}</td>  <td><a href="mailto:{{ contactPerson.email }}" target="_top">{{ contactPerson.email }}</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


</div>
