<div ng-form="editForm">

	<nav id="actionBar" class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li ng-click="backToCompanyList()">
					<a>
						<i class="mdi mdi-arrow-left"></i>
						<strong>Back to Company List</strong>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="backToCompanyList()" title="Click to discard and go back to company list" href=""><i class="mdi mdi-block-helper iconButton"></i></a></li>
				<li><a ng-click="submitEdit(editForm)" title="Click to submit form" href=""><i class="mdi mdi-send iconButton"></i></a></li>
			</ul>
		</div>
	</nav>




	<div id="content" class="row">
		<h4 class="modal-title">Edit Company</h4>

		<hr>


		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error': editForm.name.$invalid && editForm.name.$touched }">
					<label>Name</label>
					<input name="name" ng-model="company.name" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.name.$error" ng-if="editForm.name.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.address.$invalid && editForm.address.$touched }">
					<label>Address</label>
					<input name="address" ng-model="company.address" required ng-pattern="alphanumericSymbol" ng-maxlength="250" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.address.$error" ng-if="editForm.address.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.city.$invalid && editForm.city.$touched }">
					<label>City</label>
					<input name="city" ng-model="company.city" required ng-pattern="alpha" ng-maxlength="250" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.city.$error" ng-if="editForm.city.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires letters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.province.$invalid && editForm.province.$touched }">
					<label>Province</label>
					<input name="province" ng-model="company.province" required ng-pattern="alpha" ng-maxlength="250" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.province.$error" ng-if="editForm.province.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires letters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.country.$invalid && editForm.country.$touched }">
					<label>Country</label>
					<input name="country" ng-model="company.country" required ng-pattern="alpha" ng-maxlength="250" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.country.$error" ng-if="editForm.country.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires letters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.postalCode.$invalid && editForm.postalCode.$touched }">
					<label>Postal Code</label>
					<input name="postalCode" ng-model="company.postalCode" required ng-pattern="numeric" ng-minlength="4" ng-maxlength="4" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.postalCode.$error" ng-if="editForm.postalCode.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires numbers only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.division.$invalid && editForm.division.$touched }">
					<label>Division</label>
					<input name="division" ng-model="company.division" required ng-pattern="alphanumericSymbol" ng-maxlength="250" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.division.$error" ng-if="editForm.division.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.address.$invalid && editForm.address.$touched }">
					<label>SEZA/PEZA Registered</label>
					<select name="pezaRegistered" ng-model="company.pezaRegistered" class="form-control">
						<option>Yes</option>
						<option>No</option>
					</select>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.otherInfo.$invalid && editForm.otherInfo.$touched }">
					<label>Other Info</label>
					<textarea name="otherInfo" ng-model="company.otherInfo" ng-pattern="alphanumericSymbol" class="form-control"></textarea>
					<div class="help-block has-error" ng-messages="editForm.otherInfo.$error" ng-if="editForm.otherInfo.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
					</div>
				</div>


				<br>
			</div>


			<div class="col-md-6">
				<div class="form-group">
					<label>Contact Numbers</label>
					<div ng-repeat="contactNumber in company.contactNumbers track by $index" class="form-group" ng-class="{ 'has-error': editForm['contactNumber' + $index].$invalid && editForm['contactNumber' + $index].$touched }">
						<input name="contactNumber{{$index}}" ng-model="company.contactNumbers[$index]" required ng-pattern="alphanumeric" type="text" class="form-control" />
						<div class="help-block has-error" ng-messages="editForm['contactNumber' + $index].$error" ng-if="editForm['contactNumber' + $index].$touched">
							<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
						</div>
					</div>

					<div class="pull-left">
						<i ng-click="addContactNumberField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeContactNumberField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>


				<div class="form-group">
					<label>Websites</label>
					<div ng-repeat="website in company.websites track by $index" class="form-group" ng-class="{ 'has-error': editForm['website' + $index].$invalid && editForm['website' + $index].$touched }">
						<input name="website{{$index}}" ng-model="company.websites[$index]" required type="text" class="form-control" />
						<div class="help-block has-error" ng-messages="editForm['website' + $index].$error" ng-if="editForm['website' + $index].$touched">
							<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						</div>
					</div>

					<div class="pull-left">
						<i ng-click="addWebsiteField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeWebsiteField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>


				<div class="form-group">
					<label>Business Types</label>
					<div ng-repeat="businessType in company.types track by $index" class="form-group" ng-class="{ 'has-error': editForm['businessType' + $index].$invalid && editForm['businessType' + $index].$touched }">
						<input name="businessType{{$index}}" ng-model="company.types[$index]" required ng-pattern="alphanumericSymbol" type="text" class="form-control" />
						<div class="help-block has-error" ng-messages="editForm['businessType' + $index].$error" ng-if="editForm['businessType' + $index].$touched">
							<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
							<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
						</div>
					</div>

					<div class="pull-left">
						<i ng-click="addTypeField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeTypeField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>


				<div class="form-group">
					<label>Contact Persons</label>
					<div ng-repeat="contactPerson in company.contactPersons">
						<div class="form-group col-md-6" ng-class="{ 'has-error': editForm['cpName' + $index].$invalid && editForm['cpName' + $index].$touched }">
							<input name="cpName{{$index}}" ng-model="contactPerson.name" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" placeholder="Name" />
							<div class="help-block has-error" ng-messages="editForm['cpName' + $index].$error" ng-if="editForm['cpName' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
							</div>
						</div>

						<div class="form-group col-md-6" ng-class="{ 'has-error': editForm['cpPosition' + $index].$invalid && editForm['cpPosition' + $index].$touched }">
							<input name="cpPosition{{$index}}" ng-model="contactPerson.position" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" placeholder="Position Name" />
							<div class="help-block has-error" ng-messages="editForm['cpPosition' + $index].$error" ng-if="editForm['cpPosition' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
							</div>
						</div>

						<div class="form-group col-md-6" ng-class="{ 'has-error': editForm['cpContact' + $index].$invalid && editForm['cpContact' + $index].$touched }">
							<input name="cpContact{{$index}}" ng-model="contactPerson.contact" required ng-pattern="alphanumeric" ng-maxlength="250" type="text" class="form-control" placeholder="Contact Number" />
							<div class="help-block has-error" ng-messages="editForm['cpContact' + $index].$error" ng-if="editForm['cpContact' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
							</div>
						</div>

						<div class="form-group col-md-6" ng-class="{ 'has-error': editForm['cpEmail' + $index].$invalid && editForm['cpEmail' + $index].$touched }">
							<input name="cpEmail{{$index}}" ng-model="contactPerson.email" required ng-maxlength="250" type="email" class="form-control" placeholder="Email Address" />
							<div class="help-block has-error" ng-messages="editForm['cpEmail' + $index].$error" ng-if="editForm['cpEmail' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>

					<div class="clearfix"></div>

					<div class="pull-left">
						<i ng-click="addContactPersonField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeContactPersonField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>



				<div class="form-group">
					<label>Notes</label>
					<div ng-repeat="note in company.notes">
						<div  class="form-group col-md-6" ng-class="{ 'has-error': editForm['note' + $index].$invalid && editForm['note' + $index].$touched }">
							<input name="note{{$index}}" ng-model="note.note" required ng-minlength="2" ng-maxlength="50" type="text" placeholder="Note" class="form-control" />
							<div class="help-block has-error" ng-messages="editForm['note' + $index].$error" ng-if="editForm['note' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
							</div>
						</div>

						<div class="form-group col-md-6" ng-class="{ 'has-error': editForm['noteDate' + $index].$invalid && editForm['noteDate' + $index].$touched }">
							<div class="input-group">
								<input name="noteDate{{$index}}" ng-model="note.date" required string-date uib-datepicker-popup is-open="dateAquiredIsOpen[$index]" type="text" placeholder="Date" class="form-control" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="dateAquiredIsOpen[$index] = true"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</div>
							<div class="help-block has-error" ng-messages="editForm['noteDate' + $index].$error" ng-if="editForm['noteDate' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
					<div class="pull-left">
						<i ng-click="addNoteField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeNoteField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>
			</div>
		</div>





	</div> <!-- div#content -->


</div>