<div id="loader" cg-busy="loadingProperties">

	<!-- NAVBAR -->
	<nav id="navbar" class="navbar navbar-primary">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed" href="">
					<i class="mdi mdi-menu"></i>
				</a>
				<a class="navbar-brand" ng-click="home()" href="">Turok Jobs™</a>
			</div>

			<div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
				<ul class="nav navbar-nav navbar-left">
					<li ng-if="utilityFunctions.inArray('Main Dashboard', user.features)" ng-class="{ active: activeLink == 'admin.dashboard' }" ng-click="changeState('admin.dashboard')"><a href="">Main Dashboard</a></li>
					<li ng-if="utilityFunctions.inArray('Job Vacancies', user.features)" ng-class="{ active: activeLink == 'admin.jobVacancy' }" ng-click="changeState('admin.jobVacancyList')"><a href="">Job Vacancies</a></li>
					<li ng-if="utilityFunctions.inArray('Candidates', user.features)" ng-class="{ active: activeLink == 'admin.candidate' }" ng-click="changeState('admin.candidateList')"><a href="">Candidates</a></li>
					<li ng-if="utilityFunctions.inArray('Companies', user.features)" ng-class="{ active: activeLink == 'admin.company' }" ng-click="changeState('admin.companyList')"><a href="">Companies</a></li>
					<li ng-if="utilityFunctions.inArray('Recruiters', user.features)" ng-class="{ active: activeLink == 'admin.recruiter' }" ng-click="changeState('admin.recruiterList')"><a href="">Recruiters</a></li>
				</ul>



				<ul class="nav navbar-nav navbar-right">
					<li ng-class="{ active: activeLink == 'admin.profile' }" ng-click="changeState('admin.profileInfo')"><a href="">{{ user.name }}</a></li>
					<li><a ng-click="logout()" title="Click to to logout" href=""><i class="mdi mdi-logout"></i></a></li>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>





	<div id="mainOutput" ui-view class="am-fade"></div>

</div>
