@import '../core/palette.scss';


div#loader {
	height: 100vh;
}



div#mainOutput {




	div#jobVacancy {
		background-color: white;
		margin-top: 15px;
		margin-bottom: 30px;
		padding: 10px;
		border-radius: 3px;
		position: relative;
		margin-left: 10px;
		margin-right: 10px;
		cursor: pointer;
	}



	form#loginForm {
		top: 20vh;

		label {
			color: palette(Grey, 100);
		}

		div.help-block.has-error {
			color: palette(Red, 100);
			text-shadow: 2px 2px 15px palette(Red, 900);
		}
	}


	
}





