<div class="modal-header">
	<h3 class="modal-title">Add New Process</h3>
</div>
<div class="modal-body">

	<div ng-form="addForm" class="container-fluid">

		<div class="form-group" ng-class="{ 'has-error': addForm.stage.$invalid && addForm.stage.$touched }">
			<label>Process</label>
			<select name="stage" ng-model="applicationStage.stage" required  class="form-control">
				<option value="">--Select a process--</option>
				<option>CV Sent</option>
				<option>Job Offer</option>
				<option>Placement</option>
				<option>1st Interview</option>
				<option>2nd Interview</option>
				<option>3rd Interview</option>
				<option>4th Interview</option>
				<option>5th Interview</option>
				<option>6th Interview</option>
				<option>7th Interview</option>
				<option>8th Interview</option>
				<option>9th Interview</option>
				<option>10th Interview</option>
			</select>
			<div class="help-block has-error" ng-messages="addForm.stage.$error" ng-if="addForm.stage.$touched">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
			</div>
		</div>


		<div class="form-group" ng-class="{ 'has-error': addForm.date.$invalid && addForm.date.$touched }">
			<label>Date</label>
			<div class="input-group">
				<input name="date" ng-model="applicationStage.date" required uib-datepicker-popup is-open="datePickerIsOpen"  type="text" class="form-control" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="datePickerIsOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
			<div class="help-block has-error" ng-messages="addForm.date.$error" ng-if="addForm.date.$touched">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
			</div>
		</div>


		<div class="form-group" ng-class="{ 'has-error': addForm.result.$invalid && addForm.result.$touched }">
			<label>Result</label>
			<select name="result" ng-model="applicationStage.result" required  class="form-control">
				<option>Pending</option>
				<option>Success</option>
				<option>Rejected</option>
				<option>On Hold</option>
				<option>Cancelled</option>
				<option>Declined</option>
			</select>
			<div class="help-block has-error" ng-messages="addForm.result.$error" ng-if="addForm.result.$touched">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
			</div>
		</div>


		<div class="form-group" ng-class="{ 'has-error': addForm.notes.$invalid && addForm.notes.$touched }">
			<label>Notes</label>
			<textarea name="notes" ng-model="applicationStage.notes" required ng-pattern="alphanumericSymbol" class="form-control"></textarea>
			<div class="help-block has-error" ng-messages="addForm.notes.$error" ng-if="addForm.notes.$touched">
				<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				<div ng-message="pattern" class="error">This field requires alphanumeric and basic symbols only only</div>
			</div>
		</div>


		
	</div>

</div>
<div class="modal-footer">
	<button ng-click="dismiss()" class="btn">Cancel</button>
	<button ng-click="submitAdd(addForm)" class="btn btn-primary">Save</button>
</div></strong>