@import '../core/palette.scss';




div#loader {
	height: 100vh;
}


// this is for the buttons or buttonMenus on lists
div#actionButtons {
	font-size: 20px;
	position: absolute;
	top: 25px;
	right: 25px;

	i.mdi {
		color: palette(Blue, 700);
	}
}




div#jobVacancy {
	background-color: white;
	margin-top: 15px;
	margin-bottom: 30px;
	padding: 10px;
	border-radius: 3px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}




table#kpiTable {
	td, th {
		text-align: center;
	}
}




div#accessManagement {
	ul {
		list-style: none;
	}
}