<div ng-form="editForm">

	<nav id="actionBar" class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li ng-click="backToJobVacancyInfo()">
					<a>
						<i class="mdi mdi-arrow-left"></i>
						<strong>Back to Job Vacancy Info</strong>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="backToJobVacancyInfo()" title="Click to discard and go back to job vacancy info" href=""><i class="mdi mdi-block-helper iconButton"></i></a></li>
				<li><a ng-click="submitEdit(editForm)" title="Click to submit form" href=""><i class="mdi mdi-send iconButton"></i></a></li>
			</ul>
		</div>
	</nav>


	<div id="content" class="row">
		<h4 class="modal-title">Add new Job Vacancy</h4>

		<hr>


		<!-- left part of the form -->
		<div class="col-md-6">
			<div class="form-group" ng-class="{ 'has-error': editForm.title.$invalid && editForm.title.$touched }">
				<label>Title</label>
				<input name="title" ng-model="jobVacancy.title" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="editForm.title.$error" ng-if="editForm.title.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.company.$invalid && editForm.company.$touched }">
				<label>Company</label>
				<select name="company" ng-model="jobVacancy.companyId" ng-options="company.id*1 as company.name for company in companies" required class="form-control">
					<!-- <option ng-repeat="company in companies" ng-value="company.id">{{ company.name }}</option> -->
				</select>
				<div class="help-block has-error" ng-messages="editForm.company.$error" ng-if="editForm.company.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.overview.$invalid && editForm.overview.$touched }">
				<label>Overview</label>
				<textarea name="overview" ng-model="jobVacancy.overview" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="1000" rows="2" class="form-control"></textarea>
				<div class="help-block has-error" ng-messages="editForm.overview.$error" ng-if="editForm.overview.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.description.$invalid && editForm.description.$touched }">
				<label>Job Functions</label>
				<textarea name="description" ng-model="jobVacancy.description" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="1000" rows="4" class="form-control"></textarea>
				<div class="help-block has-error" ng-messages="editForm.description.$error" ng-if="editForm.description.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>

			<div class="form-group">
				<label>Requirements</label>
				<div ng-repeat="requirement in jobVacancy.requirements track by $index" class="form-group" ng-class="{ 'has-error': editForm['requirement' + $index].$invalid && editForm['requirement' + $index].$touched }">
					<input name="requirement{{$index}}" ng-model="jobVacancy.requirements[$index]" required ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm['requirement' + $index].$error" ng-if="editForm['requirement' + $index].$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
					</div>
				</div>
				<div class="pull-left">
					<i ng-click="addRequirementField()" title="Add a field" class="mdi mdi-plus"></i>
					<i ng-click="removeRequirementField()" title="Remove a field" class="mdi mdi-delete"></i>
				</div>
			</div>
		</div>

		

		<!-- right part of the form -->
		<div class="col-md-6">
			<div class="form-group" ng-class="{ 'has-error': editForm.dateAquired.$invalid && editForm.dateAquired.$touched }">
				<label>Date Acquired</label>
				<div class="input-group">
					<input name="dateAquired" ng-model="jobVacancy.created_at" required string-date uib-datepicker-popup is-open="dateAcquiredIsOpen"  type="text" class="form-control" />
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="dateAcquiredIsOpen = true"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
				<div class="help-block has-error" ng-messages="editForm.dateClosed.$error" ng-if="editForm.notes.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				</div>
			</div>


			<div class="form-group" ng-class="{ 'has-error': editForm.salaryRange.$invalid && editForm.salaryRange.$touched }">
				<label>Salary Range</label>
				<input name="salaryRange" ng-model="jobVacancy.salaryRange" required ng-pattern="numeric" ng-maxlength="50" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="editForm.salaryRange.$error" ng-if="editForm.salaryRange.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.slots.$invalid && editForm.slots.$touched }">
				<label>Slots</label>
				<input name="slots" ng-model="jobVacancy.slots" required ng-pattern="numeric" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="editForm.slots.$error" ng-if="editForm.slots.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.placementPercent.$invalid && editForm.placementPercent.$touched }">
				<label>Placement Percentage</label>
				<input name="placementPercent" ng-model="jobVacancy.placementPercent" required ng-pattern="numeric" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="editForm.placementPercent.$error" ng-if="editForm.placementPercent.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.positionLevel.$invalid && editForm.positionLevel.$touched }">
				<label>Position Level</label>
				<input name="positionLevel" ng-model="jobVacancy.positionLevel" required ng-pattern="alphanumericSymbol" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="editForm.positionLevel.$error" ng-if="editForm.positionLevel.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.priorityLevel.$invalid && editForm.priorityLevel.$touched }">
				<label>Priority Level</label>
				<input name="priorityLevel" ng-model="jobVacancy.priorityLevel" required ng-pattern="numeric" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="editForm.priorityLevel.$error" ng-if="editForm.priorityLevel.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.status.$invalid && editForm.status.$touched }">
				<label>Status</label>
				<select name="status" ng-model="jobVacancy.status" required class="form-control">
					<option>Active</option>
					<option>Closed</option>
				</select>
				<div class="help-block has-error" ng-messages="editForm.status.$error" ng-if="editForm.status.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': editForm.remarks.$invalid && editForm.remarks.$touched }">
				<label>Remarks</label>
				<textarea name="remarks" ng-model="jobVacancy.remarks" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="1000" rows="2" class="form-control"></textarea>
				<div class="help-block has-error" ng-messages="editForm.remarks.$error" ng-if="editForm.remarks.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>
		</div>


		
	</div> <!-- div#content -->

</div>
