<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li ng-click="backToJobJavacancies()">
				<a>
					<i class="mdi mdi-arrow-left"></i>
					<strong>Back to Job Vacancy List</strong>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li ng-show="utilityFunctions.inArray('Job Vacancies >> Edit', user.features)"><a ng-click="showJobVacancyEdit()" title="Click to edit this job vacancy" href=""><i class="mdi mdi-pencil iconButton"></i></a></li>
		</ul>
	</div>
</nav>


<div id="content">
	<h3>{{ jobVacancy.title }}<small> ({{ jobVacancy.company.name }})</small></h3>

	<hr>


	<div class="row">
		<!-- basic info -->
		<div class="col-md-5">
			<h4>Basic Info</h4><br>
			<strong>Date Posted</strong><br>
			{{ jobVacancy.created_at | amDateFormat:'MMMM D, YYYY' }}

			<br><br>
			
			<strong>Overview</strong><br>
			{{ jobVacancy.overview }}

			<br><br>

			<strong>Job Functions</strong><br>
			{{ jobVacancy.description }}

			<br><br>

			<strong>Requirements</strong><br>
			<ul>
				<li ng-repeat="requirement in jobVacancy.requirements">{{ requirement }}</li>
			</ul>

			<br>

			<strong>Salary Range</strong><br>
			{{ jobVacancy.salaryRange }}

			<br><br>

			<strong>Slots</strong><br>
			{{ jobVacancy.slots }}

			<br><br>

			<strong>Position Level</strong><br>
			{{ jobVacancy.positionLevel }}

			<br><br>

			<strong>Priority Level</strong><br>
			{{ jobVacancy.priorityLevel }}

			<br><br>

			<strong>Status</strong><br>
			{{ jobVacancy.status }}

			<br><br>

			<strong>Remarks</strong><br>
			{{ jobVacancy.remarks }}
		</div>


		<!-- job vacancy applicants -->
		<div class="col-md-7">
			<h4>
				Applicants
				<button ng-show="utilityFunctions.inArray('Job Vacancy Applications >> Add', user.features)" ng-click="showAddApplicants()" class="btn btn-primary btn-mini mdi mdi-plus pull-right" title="Click to add new applicant"></button>
			</h4>
			<br>
			<i ng-if="jobVacancy.applications.length == 0">No Applicants Found</i>
			
			<uib-accordion close-others="true" ng-if="jobVacancy.applications.length > 0">
				<div uib-accordion-group ng-repeat="application in jobVacancy.applications" class="panel-default" heading="{{ application.candidate.name }} | {{ application.candidate.email }}">
					<a ui-sref="admin.candidateInfo({ id: application.candidate.id })">Click here to view candidate</a>

					<br><br>

					<a ng-show="utilityFunctions.inArray('Job Vacancy Applications >> Edit', user.features)" ng-click="showEditJobApplication(application)" href>Click here to edit this job application</a>
					
					<br><br>

					<strong>Recruiter:</strong> {{ application.user.name }}

					<br><br>

					<strong>Date Acquired:</strong> {{ application.date | amDateFormat:'MMMM D, YYYY' }}

					<br><br>

					<strong>Status:</strong> {{ application.status }}

					<br><br>

					<table ng-if="application.stages.length > 0" class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>Process</th>  <th>Date</th>  <th>Result</th>  <th>Notes</th>  <th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="stage in application.stages | orderBy:'date'" title="{{ stage.notes }}">
								<td>{{ stage.stage }}</td>
								<td>{{ stage.date | amDateFormat:'MMMM D, YYYY' }}</td>
								<td>{{ stage.result }}</td>
								<td class="col-md-5">{{ stage.notes }}</td>
								<td uib-dropdown>
									<i uib-dropdown-toggle class="mdi mdi-dots-vertical iconButton" title="Click for more actions"></i>
									<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
										<li role="menuitem"><a ng-click="applicationStageEdit(stage)" href><i class="mdi mdi-pencil"></i> Edit</a></li>
										<li class="divider"></li>
										<li role="menuitem"><a ng-click="applicationStageDelete(stage)" href><i class="mdi mdi-delete"></i> Delete</a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>

					<button ng-click="showAddApplicationStage(application)" class="btn btn-mini btn-primary">Add new process</button>
				</div>
			</uib-accordion>
		</div>
	</div>


	


</div>
