<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li><strong>List of Job Vacancies</strong></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li ng-show="utilityFunctions.inArray('Job Vacancies >> Add', user.features)"><a ng-click="showAddJobVacancy()" title="Click to add new job vacancy" href=""><i class="mdi mdi-plus iconButton"></i></a></li>
		</ul>

		<div class="navbar-form navbar-right">
			<div ng-show="utilityFunctions.inArray('Job Vacancies >> Search', user.features)" class="form-group">
				<div class="input-group">
					<input ng-model="options.search" type="text" ng-model="options.search" class="form-control" placeholder="Search Job Vacancies" title="Search by job title">
					<span class="input-group-btn">
						<button ng-click="loadJobVacancies()" class="btn btn-default" type="button"><a class="glyphicon glyphicon-search"></a></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</nav>


<div class="content">
	<div id="jobVacancy" ng-repeat="vacancy in jobVacancies" class="am-fade-and-slide-bottom row" title="Click to show full info">
		<div class="content">
			<h4>{{ vacancy.title }}</h4>
			{{ vacancy.overview }}
		</div>
		<div id="actionButtons">
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-icon mdi mdi-dots-vertical" uib-dropdown-toggle></button>
				<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
					<li ng-show="utilityFunctions.inArray('Job Vacancies >> Info', user.features)" role="menuitem"><a ng-click="showVacancyInfo(vacancy.id)" href="#"><i class="mdi mdi-information">&emsp;</i>Show info</a></li>
					<li ng-show="utilityFunctions.inArray('Job Vacancies >> Edit', user.features)" role="menuitem"><a ng-click="showJobVacancyEdit(vacancy.id)" href="#"><i class="mdi mdi-pencil">&emsp;</i>Edit</a></li>
					<li class="divider"></li>
					<li ng-show="utilityFunctions.inArray('Job Vacancies >> Delete', user.features)" role="menuitem"><a ng-click="deleteJobVacancyConfirm(vacancy)" href="#"><i class="mdi mdi-delete">&emsp;</i>Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

