<div ng-form="addForm">

	<nav id="actionBar" class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li ng-click="backToJobVacancies()">
					<a>
						<i class="mdi mdi-arrow-left"></i>
						<strong>Back to Job Vacancy List</strong>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="backToJobVacancies()" title="Click to discard and go back to job vacancy" href=""><i class="mdi mdi-block-helper iconButton"></i></a></li>
				<li><a ng-click="submitAdd(addForm)" title="Click to submit form" href=""><i class="mdi mdi-send iconButton"></i></a></li>
			</ul>
		</div>
	</nav>


	<div id="content" class="row">
		<h4 class="modal-title">Add new Job Vacancy</h4>

		<hr>


		<!-- left part of the form -->
		<div class="col-md-6">
			<div class="form-group" ng-class="{ 'has-error': addForm.title.$invalid && addForm.title.$touched }">
				<label>Title</label>
				<input name="title" ng-model="jobVacancy.title" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="addForm.title.$error" ng-if="addForm.title.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.company.$invalid && addForm.company.$touched }">
				<label>Company</label>
				<select name="company" ng-model="jobVacancy.companyId" required class="form-control">
					<option ng-repeat="company in companies" ng-value="company.id">{{ company.name }}</option>
				</select>
				<div class="help-block has-error" ng-messages="addForm.company.$error" ng-if="addForm.company.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.overview.$invalid && addForm.overview.$touched }">
				<label>Overview</label>
				<textarea name="overview" ng-model="jobVacancy.overview" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="1000" rows="2" class="form-control"></textarea>
				<div class="help-block has-error" ng-messages="addForm.overview.$error" ng-if="addForm.overview.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.description.$invalid && addForm.description.$touched }">
				<label>Job Functions</label>
				<textarea name="description" ng-model="jobVacancy.description" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="1000" rows="4" class="form-control"></textarea>
				<div class="help-block has-error" ng-messages="addForm.description.$error" ng-if="addForm.description.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>

			<div class="form-group">
				<label>Requirements</label>
				<div ng-repeat="requirement in jobVacancy.requirements track by $index" class="form-group" ng-class="{ 'has-error': addForm['requirement' + $index].$invalid && addForm['requirement' + $index].$touched }">
					<input name="requirement{{$index}}" ng-model="jobVacancy.requirements[$index]" required ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="addForm['requirement' + $index].$error" ng-if="addForm['requirement' + $index].$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
					</div>
				</div>
				<div class="pull-left">
					<i ng-click="addRequirementField()" title="Add a field" class="mdi mdi-plus"></i>
					<i ng-click="removeRequirementField()" title="Remove a field" class="mdi mdi-delete"></i>
				</div>
			</div>

			<div class="clearfix"></div>
			<br>
		</div>

		

		<!-- right part of the form -->
		<div class="col-md-6">
			<div class="form-group" ng-class="{ 'has-error': addForm.salaryRange.$invalid && addForm.salaryRange.$touched }">
				<label>Salary Range</label>
				<input name="salaryRange" ng-model="jobVacancy.salaryRange" required ng-pattern="numeric" ng-maxlength="50" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="addForm.salaryRange.$error" ng-if="addForm.salaryRange.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.slots.$invalid && addForm.slots.$touched }">
				<label>Slots</label>
				<input name="slots" ng-model="jobVacancy.slots" required ng-pattern="numeric" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="addForm.slots.$error" ng-if="addForm.slots.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.placementPercent.$invalid && addForm.placementPercent.$touched }">
				<label>Placement Percentage</label>
				<input name="placementPercent" ng-model="jobVacancy.placementPercent" required ng-pattern="numeric" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="addForm.placementPercent.$error" ng-if="addForm.placementPercent.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.positionLevel.$invalid && addForm.positionLevel.$touched }">
				<label>Position Level</label>
				<input name="positionLevel" ng-model="jobVacancy.positionLevel" required ng-pattern="alphanumericSymbol" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="addForm.positionLevel.$error" ng-if="addForm.positionLevel.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.priorityLevel.$invalid && addForm.priorityLevel.$touched }">
				<label>Priority Level</label>
				<input name="priorityLevel" ng-model="jobVacancy.priorityLevel" required ng-pattern="numeric" type="text" class="form-control" />
				<div class="help-block has-error" ng-messages="addForm.priorityLevel.$error" ng-if="addForm.priorityLevel.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires numbers only</div>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error': addForm.remarks.$invalid && addForm.remarks.$touched }">
				<label>Remarks</label>
				<textarea name="remarks" ng-model="jobVacancy.remarks" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="1000" rows="2" class="form-control"></textarea>
				<div class="help-block has-error" ng-messages="addForm.remarks.$error" ng-if="addForm.remarks.$touched">
					<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
				</div>
			</div>
		</div>


		
	</div> <!-- div#content -->

</div>
