<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li ng-click="backToCandidateList()">
				<a>
					<i class="mdi mdi-arrow-left"></i>
					<strong>Back to Candidate List</strong>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li ng-show="utilityFunctions.inArray('Candidates >> Edit', user.features)"><a ng-click="showCandidateEdit()" title="Click to edit this candidate" href=""><i class="mdi mdi-pencil iconButton"></i></a></li>
		</ul>
	</div>
</nav>


<div id="content">
	<h4>{{ candidate.name }}</h4>

	<hr>

	<div class="col-md-5">
		<h4>Basic Info</h4><br>
		<strong>Email Address</strong><br>
		{{ candidate.email }}

		<br><br>

		<strong>Contant Number</strong><br>
		{{ candidate.contact }}

		<br><br>

		<strong>Member Since</strong><br>
		{{ candidate.created_at | amDateFormat:'MMMM D, YYYY h:mm A' }}

		<br><br>
		

		<strong>Source</strong><br>
		{{ candidate.source }}

		<br><br>

		<strong>Network Profiles</strong><br>
		<em ng-if="candidate.networkProfiles.length == 0">No network profiles found</em>
		<ul ng-if="candidate.networkProfiles.length > 0">
			<li ng-repeat="profile in candidate.networkProfiles"><a ng-href="//{{ profile.link }}" target="_blank">{{ profile.networkName }}</a></li>
		</ul>

		<br><br>

		<strong>Files</strong><br>
		<em ng-if="candidate.files.length == 0">No files found</em>
		<table class="table table-striped" ng-if="candidate.files.length > 0">
			<thead>
				<tr>
					<th>File Name</th>  <th>Date Added</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="file in candidate.files">
					<td>{{ file.file }}</td>  <td>{{ file.date | amDateFormat:'MMMM D, YYYY h:mm A' }}</td>
					<td uib-dropdown>
						<i uib-dropdown-toggle class="mdi mdi-dots-vertical iconButton" title="Click for more actions"></i>
						<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
							<li role="menuitem"><a ng-click="fileDownload(file)" href><i class="mdi mdi-download"></i> Download</a></li>
							<li class="divider"></li>
							<li role="menuitem"><a ng-click="fileDelete(file)" href><i class="mdi mdi-delete"></i> Delete</a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<br>
		<button ng-show="utilityFunctions.inArray('Candidates >> Add Files', user.features)" class="btn btn-primary" ng-disabled="uploadInfo.uploading" ngf-select="uploadFile($file)" ngf-fix-orientation="false">Add File</button>
		<br><br>
		<span ng-if="uploadInfo.uploading">Uploading "{{ uploadInfo.fileOnUpload }}" {{ uploadInfo.progress }}%</span>
		<uib-progressbar ng-if="uploadInfo.uploading" max="100" value="uploadInfo.progress">{{ uploadInfo.progress }}%</uib-progressbar>

		<br><br>
		<br><br>
	</div>


	<div class="col-md-7">
		<h4>
			Job Applications
			<button ng-show="utilityFunctions.inArray('Job Vacancy Applications >> Add', user.features)" ng-click="showAddJobApplication()" class="btn btn-primary btn-mini mdi mdi-plus pull-right" title="Click to add new job applications"></button>
		</h4>
		<br>
		<em ng-if="candidate.jobVacancyApplications.length == 0">No job applications found</em>
		<uib-accordion close-others="true" ng-if="candidate.jobVacancyApplications.length > 0">
			<div uib-accordion-group ng-repeat="application in candidate.jobVacancyApplications" class="panel-default" heading="{{ application.jobVacancy.company.name }} | {{ application.jobVacancy.title }}">
				<a ui-sref="admin.jobVacancyInfo({ id: application.jobVacancyId })">Click here to view job vacancy info</a>

				<br><br>

				<a ng-show="utilityFunctions.inArray('Job Vacancy Applications >> Edit', user.features)" ng-click="showEditJobApplication(application)" href>Click here to edit this job application</a>

				<br><br>

				<strong>Recruiter:</strong> {{ application.user.name }}

				<br><br>

				<strong>Date Acquired:</strong> {{ application.date | amDateFormat:'MMMM D, YYYY' }}

				<br><br>

				<strong>Status:</strong> {{ application.status }} 

				<br><br>

				<table ng-if="application.stages.length > 0" class="table table-condensed table-hover">
					<thead>
						<tr>
							<th>Process</th>  <th>Date</th>  <th>Result</th>  <th>Notes</th>  <th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="stage in application.stages | orderBy:'date'" title="{{ stage.notes }}">
							<td>{{ stage.stage }}</td>
							<td>{{ stage.date | amDateFormat:'MMMM D, YYYY' }}</td>
							<td>{{ stage.result }}</td>
							<td class="col-md-5">{{ stage.notes }}</td>
							<td uib-dropdown>
								<i uib-dropdown-toggle class="mdi mdi-dots-vertical iconButton" title="Click for more actions"></i>
								<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
									<li role="menuitem"><a ng-click="applicationStageEdit(stage)" href><i class="mdi mdi-pencil"></i> Edit</a></li>
									<li class="divider"></li>
									<li role="menuitem"><a ng-click="applicationStageDelete(stage)" href><i class="mdi mdi-delete"></i> Delete</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>

				<button ng-click="showAddApplicationStage(application)" class="btn btn-mini btn-primary">Add new process</button>
			</div>
		</uib-accordion>
	</div>

	


</div>
