<div ng-form="editForm">

	<nav id="actionBar" class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li ng-click="backToCandidateInfo()">
					<a>
						<i class="mdi mdi-arrow-left"></i>
						<strong>Back to Candidate Info</strong>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="backToCandidateInfo()" title="Click to discard and go back to candidates" href=""><i class="mdi mdi-block-helper iconButton"></i></a></li>
				<li><a ng-click="submitEdit(editForm)" title="Click to submit form" href=""><i class="mdi mdi-send iconButton"></i></a></li>
			</ul>
		</div>
	</nav>




	<div id="content" class="row">
		<h4 class="modal-title">Edit Candidate({{ currentCandidate.name }})</h4>

		<hr>


		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error': editForm.name.$invalid && editForm.name.$touched }">
					<label>Name</label>
					<input name="name" ng-model="candidate.name" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.name.$error" ng-if="editForm.name.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.email.$invalid && editForm.email.$touched }">
					<label>Email Address</label>
					<input name="email" ng-model="candidate.email" required ng-minlength="2" ng-maxlength="50" type="email" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.email.$error" ng-if="editForm.email.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.contact.$invalid && editForm.contact.$touched }">
					<label>Contact Number</label>
					<input name="contact" ng-model="candidate.contact" required ng-pattern="numeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.contact.$error" ng-if="editForm.contact.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires numbers only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': editForm.source.$invalid && editForm.source.$touched }">
					<label>Source</label>
					<input name="source" ng-model="candidate.source" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="editForm.source.$error" ng-if="editForm.source.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>

				<br>
			</div>


			<div class="col-md-6">
				<div class="form-group">
					<label>Network Profiles</label>
					<div ng-repeat="networkProfile in candidate.networkProfiles">
						<div class="form-group col-md-6" ng-class="{ 'has-error': editForm['networkName' + $index].$invalid && editForm['networkName' + $index].$touched }">
							<input name="networkName{{$index}}" ng-model="candidate.networkProfiles[$index].networkName" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" placeholder="Network Name" />
							<div class="help-block has-error" ng-messages="editForm['networkName' + $index].$error" ng-if="editForm['networkName' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
							</div>
						</div>

						<div class="form-group col-md-6" ng-class="{ 'has-error': editForm['link' + $index].$invalid && editForm['link' + $index].$touched }">
							<input name="link{{$index}}" ng-model="candidate.networkProfiles[$index].link" required ng-minlength="2" ng-maxlength="50" type="text" class="form-control" placeholder="Link" />
							<div class="help-block has-error" ng-messages="editForm['link' + $index].$error" ng-if="editForm['link' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
					</div>

					<div class="pull-left">
						<i ng-click="addNetworkProfileField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeNetworkProfileField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>
			</div>
		</div>





	</div> <!-- div#content -->


</div>