<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li><strong>List of Candidates</strong></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li ng-show="utilityFunctions.inArray('Candidates >> Add', user.features)"><a ng-click="showAddCandidate()" title="Click to add new candidate" href=""><i class="mdi mdi-plus iconButton"></i></a></li>
		</ul>

		<div class="navbar-form navbar-right">
			<div ng-show="utilityFunctions.inArray('Candidates >> Search', user.features)" class="form-group">
				<div class="input-group">
					<input ng-model="options.search" type="text" ng-model="options.search" class="form-control" placeholder="Search Candidates" title="Search by name, contact number, or email address">
					<span class="input-group-btn">
						<button ng-click="loadCandidates()" class="btn btn-default" type="button"><a class="glyphicon glyphicon-search"></a></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</nav>


<div id="listContainer">
	<div id="listItem" ng-repeat="candidate in candidates" class="am-fade-and-slide-bottom row">
		<div class="content">
			<h4>{{ candidate.name }}</h4>
			{{ candidate.email }}
		</div>
		<div id="actionButtons">
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-icon mdi mdi-dots-vertical" uib-dropdown-toggle></button>
				<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
					<li ng-show="utilityFunctions.inArray('Candidates >> Info', user.features)" role="menuitem"><a ng-click="showCandidateInfo(candidate.id)" href="#"><i class="mdi mdi-information">&emsp;</i>Show info</a></li>
					<li ng-show="utilityFunctions.inArray('Candidates >> Edit', user.features)" role="menuitem"><a ng-click="showCandidateEdit(candidate.id)" href="#"><i class="mdi mdi-pencil">&emsp;</i>Edit</a></li>
					<li class="divider"></li>
					<li ng-show="utilityFunctions.inArray('Candidates >> Delete', user.features)" role="menuitem"><a ng-click="deleteCandidate(candidate)" href="#"><i class="mdi mdi-delete">&emsp;</i>Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

