<div ng-form="addForm">

	<nav id="actionBar" class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li ng-click="backToCandidateList()">
					<a>
						<i class="mdi mdi-arrow-left"></i>
						<strong>Back to Candidate List</strong>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="backToCandidateList()" title="Click to discard and go back to candidates" href=""><i class="mdi mdi-block-helper iconButton"></i></a></li>
				<li><a ng-click="submitAdd(addForm)" title="Click to submit form" href=""><i class="mdi mdi-send iconButton"></i></a></li>
			</ul>
		</div>
	</nav>




	<div id="content" class="row">
		<h4 class="modal-title">Add New Candidate</h4>

		<hr>


		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error': addForm.name.$invalid && addForm.name.$touched }">
					<label>Name</label>
					<input name="name" ng-model="candidate.name" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="addForm.name.$error" ng-if="addForm.name.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': addForm.email.$invalid && addForm.email.$touched }">
					<label>Email Address</label>
					<input name="email" ng-model="candidate.email" required ng-minlength="2" ng-maxlength="50" type="email" class="form-control" />
					<div class="help-block has-error" ng-messages="addForm.email.$error" ng-if="addForm.email.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': addForm.contact.$invalid && addForm.contact.$touched }">
					<label>Contact Number</label>
					<input name="contact" ng-model="candidate.contact" required ng-pattern="numeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="addForm.contact.$error" ng-if="addForm.contact.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires numbers only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': addForm.source.$invalid && addForm.source.$touched }">
					<label>Source</label>
					<input name="source" ng-model="candidate.source" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="addForm.source.$error" ng-if="addForm.source.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>

				<br>
			</div>


			<div class="col-md-6">
				<div class="form-group">
					<label>Network Profiles</label>
					<div ng-repeat="networkProfile in candidate.networkProfiles">
						<div class="form-group col-md-6" ng-class="{ 'has-error': addForm['networkName' + $index].$invalid && addForm['networkName' + $index].$touched }">
							<input name="networkName{{$index}}" ng-model="candidate.networkProfiles[$index].networkName" required ng-pattern="alphanumericSymbol" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" placeholder="Network Name" />
							<div class="help-block has-error" ng-messages="addForm['networkName' + $index].$error" ng-if="addForm['networkName' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
							</div>
						</div>

						<div class="form-group col-md-6" ng-class="{ 'has-error': addForm['link' + $index].$invalid && addForm['link' + $index].$touched }">
							<input name="link{{$index}}" ng-model="candidate.networkProfiles[$index].link" required ng-minlength="2" ng-maxlength="50" type="text" class="form-control" placeholder="Link" />
							<div class="help-block has-error" ng-messages="addForm['link' + $index].$error" ng-if="addForm['link' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>
					</div>

					<div class="pull-left">
						<i ng-click="addNetworkProfileField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeNetworkProfileField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>


				<strong>Files<small>(wala muna)</small></strong> <br>
				.......

				<br><br>
				<br><br>

				<div class="form-group">
					<label>Job Applications<small>(add/update recruitment process only after saving this new candidate</small></label>
					<div ng-repeat="application in candidate.jobVacancyApplications">
						<div class="form-group col-md-6" ng-class="{ 'has-error': addForm['applicationJobVacancyId' + $index].$invalid && addForm['applicationJobVacancyId' + $index].$touched }">
							<select name="applicationJobVacancyId{{$index}}" ng-model="candidate.jobVacancyApplications[$index].jobVacancyId" required class="form-control">
								<option value="">Select a job vacancy</option>
								<option ng-repeat="vacancy in jobVacancies | orderBy:'title'" ng-value="{{ vacancy.id }}" title="Posted by: {{ vacancy.company.name }} on {{ vacancy.created_at | amDateFormat:'MMMM D, YYYY h:mm A' }}&#013;{{ vacancy.description }}">{{ vacancy.title }}</option>
							</select>
							<div class="help-block has-error" ng-messages="addForm['applicationJobVacancyId' + $index].$error" ng-if="addForm['applicationJobVacancyId' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
							</div>
						</div>

						<div class="form-group col-md-6" ng-class="{ 'has-error': addForm['applicationRemarks' + $index].$invalid && addForm['applicationRemarks' + $index].$touched }">
							<input name="applicationRemarks{{$index}}" ng-model="candidate.jobVacancyApplications[$index].remarks" required ng-pattern="alphanumericSymbol" type="text" class="form-control" placeholder="Remarks" />
							<div class="help-block has-error" ng-messages="addForm['applicationRemarks' + $index].$error" ng-if="addForm['applicationRemarks' + $index].$touched">
								<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
								<div ng-message="pattern" class="error">This field requires alphanumeric characters and basic symbols only</div>
							</div>
						</div>
					</div>

					<div class="pull-left">
						<i ng-click="addJobVacancyApplicationField()" title="Add a field" class="mdi mdi-plus"></i>
						<i ng-click="removeJobVacancyApplicationField()" title="Remove a field" class="mdi mdi-delete"></i>
					</div>

					<div class="clearfix"></div>
					<br>
				</div>
			</div>
		</div>





	</div> <!-- div#content -->


</div>