/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
div#loader {
  height: 100vh; }

div#mainOutput div#jobVacancy {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer; }

div#mainOutput form#loginForm {
  top: 20vh; }
  div#mainOutput form#loginForm label {
    color: #F5F5F5; }
  div#mainOutput form#loginForm div.help-block.has-error {
    color: #FFCDD2;
    text-shadow: 2px 2px 15px #B71C1C; }

/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
body {
  background: url("/assets/images/skyscraper.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; }
  body nav#navbar {
    margin-bottom: 0px; }
    body nav#navbar a.navbar-brand, body nav#navbar i.mdi, body nav#navbar li > a {
      color: white; }
    body nav#navbar i.mdi {
      font-size: 20px; }
    body nav#navbar li a:hover, body nav#navbar li a:focus {
      background: rgba(0, 0, 0, 0.2); }
    body nav#navbar li.active {
      background: rgba(0, 0, 0, 0.2);
      border-bottom: 3px solid #2196F3; }
  body div#mainOutput nav#actionBar i.mdi, body div#mainOutput nav#actionBar li > a {
    color: white; }
  body div#mainOutput nav#actionBar i.mdi.iconButton {
    font-size: 18px; }
  body div#mainOutput nav#actionBar li {
    color: white;
    cursor: pointer;
    line-height: 50px; }
  body div#mainOutput nav#actionBar li a:hover, body div#mainOutput nav#actionBar li a:focus {
    background: rgba(0, 0, 0, 0.2); }
  body div#mainOutput #listContainer {
    overflow: auto;
    clear: both;
    height: calc(100vh - 120px); }
    @media (max-width: 992px) {
      body div#mainOutput #listContainer {
        height: 100%;
        margin-bottom: 10px; } }
    body div#mainOutput #listContainer #listItem {
      background-color: white;
      margin-top: 15px;
      margin-bottom: 30px;
      padding: 10px;
      border-radius: 3px;
      position: relative;
      margin-left: 10px;
      margin-right: 10px; }
  body div#mainOutput #content {
    clear: both;
    height: calc(100vh - 135px);
    overflow: auto;
    border-radius: 3px;
    background: white;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 25px; }
    @media (max-width: 992px) {
      body div#mainOutput #content {
        height: 100%;
        margin-bottom: 10px; } }
    body div#mainOutput #content i.mdi {
      color: #1976D2; }
  body i.glyphicon, body i.mdi {
    cursor: pointer; }
  body button.btn-icon {
    border: none;
    background: transparent; }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  /*background: rgba(0,0,0,0.1); */
  border-radius: 10px;
  /*border:1px gray solid;*/ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.3);
  /*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */ }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3); }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5); }

div.clearfix {
  clear: both;
  width: 100%; }
