<div id="loader" cg-busy="loadingProperties">
	<!-- NAVBAR -->
	<nav id="navbar" class="navbar navbar-primary">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed" href="">
					<i class="mdi mdi-menu"></i>
				</a>
				<a class="navbar-brand" ng-click="home()" href="">Turok Jobs™</a>
			</div>
		</div><!-- /.container-fluid -->
	</nav>





	<div id="mainOutput" ui-view class="am-fade"></div>
</div> <!-- cgBusy closing -->