<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li><strong>Key Performance Index({{ kpiYear }})</strong></li>
		</ul>

		<div class="navbar-form navbar-right">
			<select name="recruiter" ng-model="recruiter" ng-show="utilityFunctions.inArray('Main Dashboard >> Select Recruiter', user.features)" ng-change="loadKpiCount()" class="form-control">
				<option value="all">All Recruiters</option>
				<option ng-repeat="recruiter in recruiters | orderBy:'name'" ng-value="recruiter.id">{{ recruiter.name }}</option>
			</select>

			<select name="kpiYear" ng-model="kpiYear" ng-change="loadKpiCount()" class="form-control">
				<option>2016</option>
				<option>2015</option>
				<option>2014</option>
				<option>2013</option>
				<option>2012</option>
				<option>2011</option>
				<option>2010</option>
			</select>
		</div>
	</div>
</nav>


<div id="content">


	<table id="kpiTable" class="table">
		<thead>
			<tr>
				<th>Description</th>
				<th ng-repeat="month in months">{{ month }}</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(description, descriptionData) in data">
				<td>{{ description }}</td>
				<td ng-repeat="(key, monthData) in descriptionData" ng-if="key != 'total'">
					<span ng-if="monthData.count == 0">-</span>
					<span ng-if="monthData.count > 0">{{ monthData.count }}</span>
				</td>
				<td>{{ descriptionData.total }}</td>
			</tr>
		</tbody>
	</table>

	
</div>

