<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li ng-click="backToRecruiterList()">
				<a>
					<i class="mdi mdi-arrow-left"></i>
					<strong>Back to Recruiter List</strong>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li ng-show="utilityFunctions.inArray('Recruiters >> Reset Password', user.features)"><a ng-click="resetPassword()" title="Click to this recruiter's password" href=""><i class="mdi mdi-account-convert iconButton"></i></a></li>
			<li ng-show="utilityFunctions.inArray('Recruiters >> Access Management', user.features)"><a ng-click="showAccessManagement()" title="Click to manage this recruiter's access" href=""><i class="mdi mdi-account-key iconButton"></i></a></li>
			<li ng-show="utilityFunctions.inArray('Recruiters >> Edit', user.features)"><a ng-click="showRecruiterEdit()" title="Click to edit this recruiter" href=""><i class="mdi mdi-pencil iconButton"></i></a></li>
		</ul>
	</div>
</nav>


<div id="content">
	<h4>{{ recruiter.name }}</h4>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<strong>Name</strong><br>
			{{ recruiter.name }}

			<br><br>

			<strong>Email Address</strong><br>
			{{ recruiter.email }}

			<br><br>

			<strong>Account Type</strong><br>
			{{ recruiter.type }}

			<br><br>
			<br><br>
		</div>


		<div class="col-md-6">
			<strong>Ongoing Applications</strong><br>
			<em ng-if="recruiter.applications.length == 0">No ongoing applications found</em>
			<ul ng-if="recruiter.applications.length > 0">
				<li ng-repeat="application in recruiter.applications | orderBy:'jobVacancy.title'"><a ui-sref="admin.jobVacancyInfo({ id: {{ application.jobVacancy.id }} })">{{ application.jobVacancy.title }}({{ application.jobVacancy.company.name }})</a> | <a ui-sref="admin.candidateInfo({ id: {{ application.candidate.id }} })">{{ application.candidate.name }}</a></li>
			</ul>
		</div>
	</div>


	


</div>
