<div ng-form="addForm">

	<nav id="actionBar" class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li ng-click="backToRecruiterList()">
					<a>
						<i class="mdi mdi-arrow-left"></i>
						<strong>Back to Recruiter List</strong>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="backToRecruiterList()" title="Click to discard and go back to recruiter list" href=""><i class="mdi mdi-block-helper iconButton"></i></a></li>
				<li><a ng-click="submitAdd(addForm)" title="Click to submit form" href=""><i class="mdi mdi-send iconButton"></i></a></li>
			</ul>
		</div>
	</nav>




	<div id="content" class="row">
		<h4 class="modal-title">Add New Recruiter <small>(Default password will be given after successful register. Change it immediately on recruiter's account!)</small></h4>

		<hr>


		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error': addForm.name.$invalid && addForm.name.$touched }">
					<label>Name</label>
					<input name="name" ng-model="recruiter.name" required ng-pattern="alphanumeric" ng-minlength="2" ng-maxlength="50" type="text" class="form-control" />
					<div class="help-block has-error" ng-messages="addForm.name.$error" ng-if="addForm.name.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': addForm.email.$invalid && addForm.email.$touched }">
					<label>Email Address</label>
					<input name="email" ng-model="recruiter.email" required ng-minlength="2" ng-maxlength="50" type="email" class="form-control" />
					<div class="help-block has-error" ng-messages="addForm.email.$error" ng-if="addForm.email.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': addForm.type.$invalid && addForm.type.$touched }">
					<label>Account Type</label>
					<select name="type" ng-model="recruiter.type" class="form-control">
						<option>Recruiter</option>
						<option>Admin</option>
					</select>
					<div class="help-block has-error" ng-messages="addForm.type.$error" ng-if="addForm.type.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires numbers only</div>
					</div>
				</div>

				<br>
			</div>
		</div>





	</div> <!-- div#content -->


</div>