<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li><strong>List of Recruiters</strong></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a ng-show="utilityFunctions.inArray('Recruiters >> Add', user.features)" ng-click="showAddRecruiter()" title="Click to add new user" href=""><i class="mdi mdi-plus iconButton"></i></a></li>
		</ul>

		<div class="navbar-form navbar-right">
			<div ng-show="utilityFunctions.inArray('Recruiters >> Search', user.features)" class="form-group">
				<div class="input-group">
					<input ng-model="options.search" type="text" ng-model="options.search" class="form-control" placeholder="Search Reruiters/Users" title="Search by name, type, or email">
					<span class="input-group-btn">
						<button ng-click="loadRecruiters()" class="btn btn-default" type="button"><a class="glyphicon glyphicon-search"></a></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</nav>


<div id="listContainer">
	<div id="listItem" ng-repeat="recruiter in recruiters | orderBy:'name'" class="am-fade-and-slide-bottom row">
		<div class="content">
			<h4>{{ recruiter.name }}<small ng-if="recruiter.type == 'Admin'">({{ recruiter.type }})</small></h4>
			{{ recruiter.email }}
		</div>
		<div id="actionButtons">
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-icon mdi mdi-dots-vertical" uib-dropdown-toggle></button>
				<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu">
					<li ng-show="utilityFunctions.inArray('Recruiters >> Info', user.features)" role="menuitem"><a ng-click="showRecruiterInfo(recruiter.id)" href="#"><i class="mdi mdi-information">&emsp;</i>Show info</a></li>
					<li ng-show="utilityFunctions.inArray('Recruiters >> Edit', user.features)" role="menuitem"><a ng-click="showRecruiterEdit(recruiter.id)" href="#"><i class="mdi mdi-pencil">&emsp;</i>Edit</a></li>
					<li class="divider"></li>
					<li ng-show="utilityFunctions.inArray('Recruiters >> Delete', user.features)" role="menuitem"><a ng-click="deleteRecruiter(recruiter)" href="#"><i class="mdi mdi-delete">&emsp;</i>Delete</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

