<!-- NAVBAR -->
<nav id="navbar" class="navbar">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a>
					<strong>List of Job Vacancies</strong>
				</a>
			</li>
		</ul>

		<div class="navbar-form navbar-right">
			<div class="form-group">
				<div class="input-group">
					<input ng-model="options.search" type="text" ng-model="options.search" class="form-control" placeholder="Search" title="Search by job title">
					<span class="input-group-btn">
						<button ng-click="loadJobVacancies()" class="btn btn-default" type="button"><a class="glyphicon glyphicon-search"></a></button>
					</span>
				</div>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</nav>








<!-- MAIN OUTPUT -->
<div id="listContainer">

	<div id="jobVacancy" ng-repeat="vacancy in jobVacancies" ng-click="showVacancyInfo(vacancy.id)" class="am-fade-and-slide-bottom" title="Click to show full info">
		<div class="content">
			<h4>{{ vacancy.title }}</h4>
			{{ vacancy.overview }}
		</div>
	</div>

</div>