<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li ng-click="home()">
				<a>
					<i class="mdi mdi-arrow-left"></i>
					<strong>Back to Job Vacancy List</strong>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a ng-click="home()" title="Click to close" href=""><i class="mdi mdi-close iconButton"></i></a></li>
		</ul>
	</div>
</nav>





<!-- MAIN OUTPUT -->

<div id="content" class="row">
	<div>
		<h3>{{ jobVacancy.title }}</h3>
		<hr>
	</div>


	<div>
		<strong>Overview</strong><br>
		{{ jobVacancy.overview }}

		<br><br>

		<strong>Job Functions</strong><br>
		{{ jobVacancy.description }}

		<br><br>

		<strong>Requirements</strong><br>
		<ul>
			<li ng-repeat="requirement in jobVacancy.requirements">{{ requirement }}</li>
		</ul>

		<br>

		<strong>Date Posted</strong><br>
		{{ jobVacancy.created_at | amDateFormat:'MMMM D, YYYY h:mm A' }}
	</div>


	<div>
		<hr>
		<em class="pull-left">Interested applicants may send resume at <a ng-href="mailto:kirby.pontipedra@gcgmanagementconsulting.com?Subject={{ jobVacancy.title }}">kirby.pontipedra@gcgmanagementconsulting.com</a></em>
	</div>
</div>


