@import '../core/palette.scss';


body {

	background: url("/assets/images/skyscraper.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;





	nav#navbar {
		margin-bottom: 0px;

		a.navbar-brand, i.mdi, li > a {
			color: white;
		}

		i.mdi {
			font-size: 20px;
		}

		li a:hover, li a:focus {
			background: rgba(0, 0, 0, 0.2);
		}

		li.active {
			background: rgba(0, 0, 0, 0.2);
			border-bottom: 3px solid palette(Blue, 500);
		}
	}





	div#mainOutput {
		nav#actionBar {

			i.mdi, li > a {
				color: white;
			}

			i.mdi.iconButton {
				font-size: 18px;
			}

			li {
				color: white;
				cursor: pointer;
				line-height: 50px;
			}

			li a:hover, li a:focus {
				background: rgba(0, 0, 0, 0.2);
			}
		}



		#listContainer {
			overflow: auto;
			clear: both;
			height: calc(100vh - 120px);

			@media (max-width: 992px) {
				height: 100%;
				margin-bottom: 10px;
			}

			#listItem {
				background-color: white;
				margin-top: 15px;
				margin-bottom: 30px;
				padding: 10px;
				border-radius: 3px;
				position: relative;
				margin-left: 10px;
				margin-right: 10px;
			}
		}



		#content {
			clear: both;
			height: calc(100vh - 135px);
			overflow: auto;
			border-radius: 3px;
			background: white;
			margin: 0px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 25px;

			@media (max-width: 992px) {
				height: 100%;
				margin-bottom: 10px;
			}

			i.mdi {
				color: palette(Blue, 700);
			}
		}
	}







	i.glyphicon, i.mdi {
		cursor: pointer;
	}


	button.btn-icon {
		border: none;
		background: transparent;
	}
}








// CUSTOM SCROLLBAR
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
 
::-webkit-scrollbar-track {
	/*background: rgba(0,0,0,0.1); */
	border-radius: 10px;
	/*border:1px gray solid;*/
}
 
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,0.3);
	&:hover{
		background: rgba(0,0,0,0.3);
		border:1px solid rgba(0,0,0,0.3);
	}
	&:active{
		background: rgba(0,0,0,0.5);
		border:1px solid rgba(0,0,0,0.5);
	}
	/*&:not(:active){
		background: none;
		border:0px solid rgba(0,0,0,0.5);
	}   */
}







// UTILITIES
div.clearfix {
	clear: both;
	width: 100%;
}