<div ng-form="changePasswordForm">

	<nav id="actionBar" class="navbar navbar-primary">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-left">
				<li ng-click="backToProfile()">
					<a>
						<i class="mdi mdi-arrow-left"></i>
						<strong>Back to Your Profile</strong>
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a ng-click="backToProfile()" title="Click to discard and go back to your profile" href=""><i class="mdi mdi-block-helper iconButton"></i></a></li>
				<li><a ng-click="submitChangePassword(changePasswordForm)" title="Click to submit form" href=""><i class="mdi mdi-send iconButton"></i></a></li>
			</ul>
		</div>
	</nav>




	<div id="content" class="row">
		<h4 class="modal-title">Change Password</h4>

		<hr>


		<div class="row">
			<div class="col-md-6">
				<div class="form-group" ng-class="{ 'has-error': changePasswordForm.password.$invalid && changePasswordForm.password.$touched }">
					<label>Old Password</label>
					<input name="password" ng-model="profile.password" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" type="password" class="form-control" />
					<div class="help-block has-error" ng-messages="changePasswordForm.password.$error" ng-if="changePasswordForm.password.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error': changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$touched }">
					<label>New Password</label>
					<input name="newPassword" ng-model="profile.newPassword" required ng-pattern="alphanumeric" ng-minlength="4" ng-maxlength="50" type="password" class="form-control" />
					<div class="help-block has-error" ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.newPassword.$touched">
						<div ng-messages-include src="/modules/core/templates/errorMessages.template.html"></div>
						<div ng-message="pattern" class="error">This field requires alphanumeric characters only</div>
					</div>
				</div>
			</div>
		</div>





	</div> <!-- div#content -->


</div>