<nav id="actionBar" class="navbar navbar-primary">
	<div class="container-fluid">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a>
					<strong>Your Profile</strong>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li><a ng-click="changePassword()" title="Click this to change password" href=""><i class="mdi mdi-account-key iconButton"></i></a></li>
		</ul>
	</div>
</nav>


<div id="content">
	<h4>{{ profile.name }}</h4>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<strong>Name</strong><br>
			{{ profile.name }}

			<br><br>

			<strong>Email Address</strong><br>
			{{ profile.email }}

			<br><br>

			<strong>Account Type</strong><br>
			{{ profile.type }}

			<br><br>
			<br><br>
		</div>


		<div class="col-md-6">
			<strong>Ongoing Applications</strong><br>
			<em ng-if="profile.applications.length == 0">No ongoing applications found</em>
			<ul ng-if="profile.applications.length > 0">
				<li ng-repeat="application in profile.applications | orderBy:'jobVacancy.title'"><a ui-sref="admin.jobVacancyInfo({ id: {{ application.jobVacancy.id }} })">{{ application.jobVacancy.title }}({{ application.jobVacancy.company.name }})</a> | <a ui-sref="admin.candidateInfo({ id: {{ application.candidate.id }} })">{{ application.candidate.name }}</a></li>
			</ul>
		</div>
	</div>


	


</div>
